body {
  background: #141E30;
  background: -webkit-linear-gradient(to right, #243B55, #141E30);
  background: linear-gradient(to right, #243B55, #141E30); }

.bg-light {
  background-color: transparent !important; }

.team h1 {
  color: white; }

.team p:first-child {
  color: #c8c8c8; }

ul.timeline {
  list-style-type: none;
  position: relative; }

ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400; }

ul.timeline > li {
  margin: 20px 0;
  padding: 20px 0px 20px 20px; }

ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400; }

h4 {
  color: white; }

.timeline li p {
  color: white; }
